.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color-black,.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .8s;
    backdrop-filter: blur(10px);
       
    

    &__content{
        @include absCenter;
        
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        border-radius: 5px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .5s;
        transform: translate(-50%,-50%) scale(.25);
    }
    &__left{
        width: 33.33333%;
        display: table-cell;
    }
    &__right{
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__img{
        width: 100%;
        display: block;
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;

    }
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &__content{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
    &__close{
        &:link,
        &:visited{
            text-decoration: none;
            font-size: 4rem;
            position: absolute;
            color: $color-gray-dark-2;
            top: 3rem;
            right: 4rem;
        }
        &:hover{
            color: $color-back-2nd-1;
        }
    }
}